  <div class="starter-template">
  <h1>Listing clients</h1>
  <p>Regular old client object in psql db</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>URN</th>
        <th>Vertical</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.urn%></td>
          <td><%= client.vertical %></td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Client', new_client_path %>
  </div>
